$grid-column-padding: var(--pro-grid-column-padding, 5px) !default;

$grid-column-paddings: (xs: var(--pro-grid-column-padding-xs, $grid-column-padding),
  sm: var(--pro-grid-column-padding-sm, $grid-column-padding),
  md: var(--pro-grid-column-padding-md, $grid-column-padding),
  lg: var(--pro-grid-column-padding-lg, $grid-column-padding),
  xl: var(--pro-grid-column-padding-xl, $grid-column-padding)) !default;

pro-col {
  box-sizing: border-box;

  position: relative;

  width: 100%;
  max-width: 100%;
  // min-width: 160px;

  padding: {
    left: 10px;
    right: 10px;
  }
}
