//This black is the text color for all components, unless in dark mode
$smoky-black: rgba(10, 9, 8, 1);
//Background color for all components, unless in dark mode
$baby-powder: rgba(253, 255, 252, 1);

//Base (Nice Weather)
$orange-pink: rgba(239, 62, 54, 1);
$mellow-yellow: rgba(252, 213, 129, 1);
$red-brown: rgba(173, 52, 62, 1);

//Hail (Dark and grey)
//Include smoky-black & baby-powder
$black-olive: rgba(67, 62, 54, 1);
$grey-metallic: rgba(133, 127, 129, 1);
$ash-grey: rgba(183, 183, 183, 1);

//Rain (Blues and dark greys)
//Include smoky-black & baby-powder
$bright-blue: rgba(48, 188, 237, 1);
$dark-black-green: rgba(27, 32, 32, 1);
$medium-blue: rgba(30, 150, 255, 1);
$gun-metal: rgba(38, 58, 60, 1);

//Wind (Earth tones and fall)
//Include smoke-black & baby-powder
$forest-green: rgba(66, 86, 62, 1);
$soft-brown: rgba(127, 104, 79, 1);
$light-brown: rgba(232, 218, 178, 1);

$bad-gradient: linear-gradient(0deg, rgba(10, 9, 8, 1) 0%, rgba(38, 58, 60, 1) 65%);
$good-gradient: linear-gradient(0deg, rgba(252, 213, 129, 1) 0%, rgba(253, 255, 252, 1) 65%);

//color theme classes
.good-weather {
  background: rgb(252, 213, 129);
  background-image: $good-gradient;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  color: $smoky-black;
}

.bad-weather {
  background: rgb(10, 9, 8);
  background: $bad-gradient;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  color: $baby-powder;
}
